.allPlayers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 80%;
	height: 80vh;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 20px #7C4D84;
	border: 2px solid #DBACE3;
	border-radius: 5px;
	overflow-y: scroll;
}

.allPlayers table {
	width: 100%;
}

.allPlayers tbody tr {
	width: 100%;
	text-align: center;
	margin: 30px;
	border-bottom: 1px solid #DBACE3;
	box-shadow: 1px 0px 5px #7C4D84;
}


.allPlayers tbody a {
	color: #fef45b;
    font-weight: bold;
}

.allPlayers tbody a:hover {
	font-weight: bolder;
}

.allPlayers tbody button {
	margin: 5px 20px;
}

.allPlayers tbody button:hover {
	border-color: #fef45b;
}

.allPlayers .pp img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-bottom: 1px solid #DBACE3;
	box-shadow: 1px 0px 5px #7C4D84;
}

.allPlayers tbody .pp {
	padding: 5px 0;

}