.allPlayers {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 80%;
	height: 80vh;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 10px #000;
	border-radius: 5px;
	overflow-y: scroll;
}

.onePlayer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #DBACE3;
	box-shadow: 1px 0px 5px #7C4D84;
}

.onePlayer a {
	color: #fef45b;
    font-weight: bold;
}

.onePlayer a:hover {
	font-weight: bolder;
}

.onePlayer button {
	margin: 0 20px;
}

.onePlayer button:hover {
	border-color: #fef45b;
}

.onePlayer .pp {
	width: 40px;
	height: 40px;
	margin: 0 20px;
	border-radius: 50%;
	background-image: url(../../../public/default_avatar.png);
	background-size: cover;

}