.mainComposantGame {
	position: relative;
	width: 80%;
	height: auto;
	margin: 4rem auto;
	left: 0;
	right: 0;
}

.loader-container {
    z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 5px;
    background: rgba(0, 0, 0, 0.834);
	font-size: 5vw;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #FA0197 transparent #FA0197 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


#GameBoard {
	aspect-ratio: 11 / 6;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: linear-gradient(330deg, #FA0197, #fef45b), linear-gradient(330deg, #FA0197, #fef45b);
	background-size: 2px 100%, 100% 2px;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-position: 50% center;
	width: 100%;
	border: 2px solid #DBACE3;
    box-shadow: 0px 0px 20px #7C4D84;
	/* border: #fef45b solid 1px; */
}

.Paddle {
	width: 2%;
	height: 20%;
	background-color: #fef45b;
	border-radius: 5px;
	position: absolute;
	transform: translate(-50%, -50%);

}

.PlayerName {
	position: absolute;
	top: 0;
	display: flex;
	padding: 0 10px;
	margin: -30px 0;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5rem;
	color: #DBACE3;
	text-shadow: 0px 0px 10px #7C4D84;
}

.Ball {
	aspect-ratio: 1 / 1;
	width: 3%;
	height: auto;
	background-color: #FA0197;
	border-radius: 100px;
	position: absolute;
}

.Score {
	position: absolute;
	top: 0;
	text-align: center;
	width: 50%;
	height: 100%;
	font-size: 10vw;
	font-weight: bolder;
	text-align: center;
	color: rgba(229, 52,148 , 0.4);
}

.Left {
	left: 0;
	align-items: flex-start;
}

.Right {
	right: 0;
	align-items: flex-end;
}

.matchMakingButton {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	color: #FA0197;
	font-size: 5vw;
	padding: none;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #DBACE3;
    box-shadow: 0px 0px 20px #7C4D84;
	border-right: none;
}

.matchMakingButton:hover {
	background-color: none;
	text-shadow: 1px 1px 2px #DBACE3;
}

.ColorSelector
{
	position: absolute;
	bottom: 0;
	display: flex;
	padding: 0 10px;
	margin: -80px 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-size: 1.5rem;
	color: #DBACE3;
	text-shadow: 0px 0px 10px #7C4D84;
}

input[type="radio"] {
	box-sizing: border-box;
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 10px 10px 50px;
	border-radius: 1rem;
	border: 2px solid #DBACE3;
	box-shadow: 0px 0px 20px #7C4D84;
}

input[type="radio"]:checked {
	background-color: #fef45b;
}