.nav {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	/* box-shadow: 0px 1px 10px #fef45b; */
	border-bottom: 1px solid #DBACE3;
    box-shadow: 0px 0px 20px #7C4D84;
	width: 100%;
	height: 50px;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}

.nav div {
	display: inline;
}

.nav a {
	display: inline-block;
	font-size: 22px;
	color: #FA0197;
	font-weight: bold;
	padding: 10px 10px 10px 10px;
}

.navButton {
	display: none;
}

.navLinks {
	display: inline;
	float: right;
	font-size: 18px;
}

.navLinks a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	font-weight: bold;
	color: #FA0197;
}

.navLinks a:hover {
	text-shadow: px 1px 1px #fef45b;
}

.check {
	display: none;
}

@media (max-width:600px) {
	.navButton{
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.navButton label {
		display: inline-block;
		padding: 13px;
		height: 4vh;
	}

	.navButton span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #FA0197;
	}

	.navLinks {
		position: absolute;
		display: block;
		width: 100%;
		background-color: #250021;
		border-top: 1px solid #fef45b;
		height: 0px;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		overflow-x: hidden;
		top: 50px;
		left: 0px;
	}

	.navLinks a {
		display: block;
		width: 100%;
	}

	.check:not(:checked) ~ .navLinks {
		height: 0px;
	}

	.check:checked ~ .navLinks {
		height: calc(100vh - 50px);
		overflow-y: auto;
	}
}