.mainComposant {
    width: 80%;
    height: 80vh;
    margin: 60px auto;
    display: flex;
    flex-direction: row;
}

.channel {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    color: #fae3fa;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #DBACE3;
    box-shadow: 0px 0px 20px #7C4D84;
    overflow-y: scroll;
}

.channel li{
    list-style-type: none;
    font-size: 0.8rem;
    width: 95%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #DBACE3; 
    box-shadow: 5px 0px 5px #7C4D84;
    font-weight: bold;
}

.channel .selectedRoom {
    border: 1px solid #fef45b;
    box-shadow: 0px 0px 10px #fef45b;
}

.channel li:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 5px 0px 10px #DBACE3;
}

.channel li button {
    position: relative;
    left: 10%;
    padding: 5px 2px;
    margin: 0;
    width: 50%;
    font-size: 0.8rem;
}

.channel h3 {
    margin: 10px;
}

.rooms {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 35%;
    /* background-color: #fef45b; */
}

.rooms h3 {
    margin: 10px;
}

.rooms button {
    width: 100%;
    margin: 10px;
    outline: none;
    font-size: 1rem;
    margin-left: 5px;
    padding: 10px 10px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FA0197;
    border: 2px solid #DBACE3;
    box-shadow: 0px 0px 20px #7C4D84;
}

.rooms button:hover {
    border-color: #fef45b;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #DBACE3;
    box-shadow: 0px 0px 20px #7C4D84;
}

#messages {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
}

#messages h3 {
    margin-top: 100px;
    width: 100%;
    font-size: 3rem;
    text-align: center;
}

#messages .message_mine {
    font-family: Monaco, Arial, sans-serif;
    text-align:right;
    width: max-content;
    word-break: break-all;
    word-wrap: normal;
    max-width: 50%;
    margin-left: auto;
    margin-top: 15px;
    margin-right: 5px;
    border-radius: 5px;
    color: #fae3fa;
    background-color: #FA0197;
    box-shadow: -2px 2px 3px rgb(80, 80, 80), inset 0px 0px 3px 1px  #6d0041;
    padding: 5px;
}

#messages .message_other {
    font-family: Monaco, Arial, sans-serif;
    width: max-content;
    max-width: 50%;
    list-style: none;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 5px;
    color: #FA0197;
    padding: 0.5rem;
    background-color:  #fae3fa;
    box-shadow: -2px 2px 3px gray, inset 0px 0px 3px 1px   gray;
    padding: 5px;
}

.chat form {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 3rem;
    box-sizing: border-box;
    backdrop-filter: blur(10px);
}

.chat .input-flex {
    display: flex;
    flex-direction: row;
}

.chat input {
    width: 85%;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 2px solid #FA0197;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fae3fa;
}

.chat button {
    width: 15%;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 5px;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;    
    background-color: rgba(0, 0, 0, 0);
    color: #FA0197;
    border: 2px solid #DBACE3;
    box-shadow: 0px 0px 20px #7C4D84;
}

.chat button:hover{
    border-color: #fef45b;
    text-shadow: 1px 1px 1px #DBACE3;
}

.chat .input-flex .mutedButton {
    box-shadow: none;
    font-style: italic;
    color: #DBACE3;
    font-weight: 100;
    border: 1px dashed #DBACE3;
}

.chat .input-flex .mutedButton:hover {
    border-color: none;
    text-shadow: none;
}




.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 450ms linear 250ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 150ms linear;
}


@media screen and (max-width: 1024px) and (min-width: 600px) {
    .mainComposant {
        width: 98%;
        margin-top: 10px;
        height: 82vh;
    }
}

@media screen and (max-width: 600px) {
    .mainComposant {
        width: 100%;
        margin: 0;
        height: 90vh;
        padding: 0;
    }

    .rooms {
        width: 35%;

    }

    .chat {

        overflow-y: scroll;
    }

    .chat button {
        width: 20%;
    }

    .chat li {
        margin: 0;
    }

    .chat ul {
        margin: 0;
        padding: 2px;
    }
}





.messagePopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #fef45b;
    box-shadow: 1px 1px 5px #fef45b;
    border-radius: 5px;
}

.messagePopup label{
    padding: 5px;
    font-size: large;
    font-weight: bold;
    color: #FAE3E3;
}

.messagePopup input{
    padding: 5px;
    font-size: large;
    border: 1px solid #FA0197;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    color: #FAE3E3
}

.messagePopup button {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    font-weight: bold;
    width: 30%;
    margin: 20px 0 0;
}

.messagePopup button:hover { 
    border: 2px solid #fef45b;
}
