.createUser {
    position: absolute;
    top: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createUser button {
    margin-top: 10px;
}

.createUser button:hover {
    border: 2px solid #fef45b;
}

.createUser input{
    padding: 3px;
	margin:0;
    font-size: large;
    border: 1px solid #FA0197;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    color: #FAE3E3
}

.login-button {
	text-align: center;
	font-size: xx-large;
	font-weight: bolder;
	width: 40%;
	margin: 30vh 30%;
	padding: 20px 0;
}

.login-button:hover {
	border: 2px solid #fef45b;
}

.twofa {
    position: absolute;
    top: 20%;
    left: 34%;
    width: 30%;
    background-color: rgba(0, 0,0, 0.5);
    padding: 2% 1% ;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #7C4D84;
    border: 1px solid #DBACE3;
    text-align: center;
}

.login {
    position: absolute;
    top: 50%;
	font-size: 3rem;
	font-weight: bolder;
	color: #FA0197;
	width: 100%;
	text-align: center;
}
