html,
body {
	padding: 0;
	margin: 0;
	color: #FA0197;
	font-family: bit5x5, 'Courier New', Courier, monospace;
}

@font-face { 
	font-family: "bit5x5";
	src: local("bit5x5"),
		url("./fonts/bit5x5.ttf") format("truetype");
	font-weight: bold;
}

body {
	background-color: #250021;
	background-image: url("../public/synthwave-wallpaper.jpg");
	background-repeat: no-repeat;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-shadow: 1px 1px 1px #fef45b;
}

.login a {
	font-size: 3rem;
	font-weight: bolder;
	position: fixed;
	bottom: 50%;
	width: 100%;
	color: #FA0197;
	width: 100%;
	text-align: center;
}

.login h1 {
	font-size: 3rem;
	font-weight: bolder;
	position: fixed;
	bottom: 50%;
	width: 100%;
	color: #FA0197;
	width: 100%;
	text-align: center;
}

.login a:hover {
	text-shadow: 1px 1px 1px #fef45b;
}

.text {
	position: fixed;
	bottom: 0px;
	background-color: #FA0197;
}

.text button {
	background-color: #FA0197;
	color: #fef45b;
	border: none;
	padding: 10px;
	font-size: 1.5rem;
	font-weight: bolder;
	border-radius: 5px;
	width: 100%;
	text-align: center;
}