.mainComposantProfile .flex {
	display: flex;
	flex-direction: column-reverse;
}

.mainComposantProfile .pp img {
	width: 100%;
	border-radius: 400px;
	box-shadow: 5px 5px 10px #000;
	border: 1px double #FA0197;
}

.mainComposantProfile .pp {
	width: 80%;
	margin: auto;
	padding: auto;
}

.mainComposantProfile .ppFriends img {
	width: 80%;
	margin: 0 10%;
	border-radius: 500px;
	box-shadow: 5px 5px 10px #000;
	border: 2px solid #DBACE3;
    box-shadow: 0px 0px 20px #7C4D84;
}

.mainComposantProfile .container {
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 5px 5px 10px #000;
	border-radius: 5px;
	width: 85%;
	padding: 0 10px;
	margin: 20px auto;
	max-height: 400px;
	overflow-y: scroll;
}

.mainComposantProfile .info .firstLine {
	display: flex;
	justify-content: space-between;
}

.mainComposantProfile .info .firstLine button {
	margin: 0;
	width: 20%;
	padding: 0;
	border: none;
	text-decoration: underline;
	color: #FA0197;
	box-shadow: none;
}

.mainComposantProfile .pphover {
	display: none;
}


.mainComposantProfile .info .flex-li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}


.mainComposantProfile .info ul {
	list-style: none;
	line-height: 30px;
	color: #FAE3E3;
}


.mainComposantProfile .info .enable {
	font-size: 15px;
	width: 100%;
	max-width: 500px;
	margin: 0 auto 10px;
}

.mainComposantProfile .container table {
	table-layout: fixed;
	width: 100%;
	/* border-collapse: collapse; */
	/* border: 3px solid purple; */
}


.mainComposantProfile .container td {
	color: #FAE3E3;
}

.mainComposantProfile .container th {
	color: #DBACE3;
	padding: 10px 0;
	text-align: left;
	/* text-shadow: 0px 0px 1px #DBACE3; */
}

/* width */
::-webkit-scrollbar {
	width: 5px;
	border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #DBACE3;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	box-shadow: 1px 1px 10px #DBACE3;
}

@media screen and (min-width: 600px) {
	.mainComposantProfile .flex .write-messa

	.mainComposantProfile {
		width: 80%;
		margin: 5% auto;

	}

	.mainComposantProfile .flex {
		flex-direction: row;
	}

	.mainComposantProfile .container {
		background-color: rgba(0, 0, 0, 0.5);
		box-shadow: 5px 5px 10px #000;
		border-radius: 5px;
		padding: 0 20px;
		margin: 20px;
		width: 45%;
	}

	.mainComposantProfile .info {
		width: 60%;
	}

	.mainComposantProfile .info button {
		margin-left: 50%;
		width: 50%;
	}

	.mainComposantProfile .info button:hover {
		border-color: #fef45b;
	}

	.mainComposantProfile .ppFriends {
		width: 40%;
		aspect-ratio: 1 / 1;
		margin: 50px;
	}

	.mainComposantProfile .pp-containers {
		position: relative;
		width: 20%;
		min-width: 200px;
		max-width: 300px;
		aspect-ratio: 1/1;
		margin: 15px;
	}

	.mainComposantProfile .pp {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.mainComposantProfile .pphover {
		display: block;
		position: absolute;
		border-radius: 200px;
		width: 101%;
		aspect-ratio: 1 / 1;
		top: 0;
		left: 0;
		opacity: 0.7;
		background: black;
		z-index: 1;
		text-align: center;
		font-size: 30px;
		opacity: 0;
	}

	.mainComposantProfile .pphover p {
		margin-top: 40%;
	}

	.mainComposantProfile .pphover:hover  {
		opacity: 0.7;
		transition: 0.7s;
	}

	.mainComposantProfile .ppFriends {
		/* background-color: #FA0197; */
		margin: 10px;
		padding: 0;
	}

	.mainComposantProfile .ppFriends img {
		width: 100%;
		max-width: 300px;
		max-height: 300px;
		margin: 0;
	}


}